<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Image Labeler</a>
    <button type="button" id="colorSelector0" (click)="changeColor(0)" class="btn btn-primary"
        [ngClass]="colorIndex == 0 ? 'underline': ''"
        style="border-color:#402020; background-color:#402020">Road</button>
    <button type="button" id="colorSelector1" (click)="changeColor(1)" class="btn btn-primary"
        [ngClass]="colorIndex == 1 ? 'underline': ''" style="border-color:#ff0000; background-color:#ff0000">Lane
        Markings</button>
    <button type="button" id="colorSelector2" (click)="changeColor(2)" class="btn btn-primary"
        [ngClass]="colorIndex == 2 ? 'underline': ''"
        style="border-color:#808060; background-color:#808060">Undrivable</button>
    <button type="button" id="colorSelector3" (click)="changeColor(3)" class="btn btn-primary"
        [ngClass]="colorIndex == 3 ? 'underline': ''"
        style="border-color:#00ff66; background-color:#00ff66">Movable</button>
    <button type="button" id="colorSelector4" (click)="changeColor(4)" class="btn btn-primary"
        [ngClass]="colorIndex == 4 ? 'underline': ''" style="border-color:#cc00ff; background-color:#cc00ff">My
        Car</button>

    <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
        <button class="btn btn-outline-light" id="dropdownBasic3" ngbDropdownToggle>Image URL</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" style="overflow:auto; max-height: 600px;" class="bg-dark">
            <div class="input-group ml-2 mt-1 mb-1" style="width:500px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Image URL</span>
                </div>
                <input type="text" class="form-control"
                    value={{imgURL}}
                    #url aria-describedby="basic-addon1" (input)="updateImage()">
            </div>

            <div class="input-group ml-2 mt-1 mb-1" style="width:300px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Image Number</span>
                </div>
                <input type="text" class="form-control" maxlength="4" value={{imgN}} #imageNumber
                            aria-describedby="basic-addon1">
                            <div class="btn btn-outline-primary ml-1" (click)="updateImageByNumber()">Go</div>
            </div>
            <button type="button" class="btn btn-outline-primary ml-2 mt-1" (click)="addMask()">Show Existing Mask</button>
            <br><a (click)="loadMaskFromURL()"><small class="ml-1" style="color:#007bff">From URL</small></a>
        </div>
    </div>

    <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
        <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>Layers</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow:auto; max-height: 600px; width:600px;"
            class="bg-dark">
            <div class="row" style="max-width: 100%">
                <div class="col">
                    <div class="input-group mt-1 mb-2" style="width:250px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Mask Opacity</span>
                        </div>
                        <input type="number" class="form-control" min="0" max="100" value='100' #opacity
                            aria-describedby="basic-addon1" (input)="updateOpacity()">
                    </div>
                </div>
                <div class="col" style="text-align:right"> <button type="button" class="btn btn-outline-danger" (click)="deleteAllLayers()">Clear
                        All Layers</button>
                </div>

            </div>

            <table class="table table-striped table-dark" *ngIf="layers">
                <thead>
                    <tr>
                        <th scope="col">Layer</th>
                        <th scope="col">Type</th>
                        <th scope="col">To Top</th>
                        <th scope="col">To Bottom</th>
                        <th scope="col">Hide&nbsp;/ Show</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let layer of layers, index as i">
                        <th *ngIf="getLayerType(i) != 'In Progress'">Layer {{i}}</th>
                        <th *ngIf="getLayerType(i) != 'In Progress'">{{getLayerType(i)}}</th>
                        <th (click)="toFront(i)" *ngIf="getLayerType(i) != 'In Progress'"><i class="fa fa-arrow-up"
                                aria-hidden="true"></i></th>
                        <th (click)="toBottom(i)" *ngIf="getLayerType(i) != 'In Progress'"><i class="fa fa-arrow-down"
                                aria-hidden="true"></i></th>
                        <th (click)="toggleVisibility(i)" *ngIf="getLayerType(i) != 'In Progress'"><i
                                *ngIf="getVisibility(i)" class="fa fa-eye" aria-hidden="true"></i><i
                                *ngIf="!getVisibility(i)" class="fa fa-eye-slash" aria-hidden="true"></i></th>
                        <th (click)="deleteLayer(i)" *ngIf="getLayerType(i) != 'In Progress'"><i class="fa fa-times"
                                aria-hidden="true"></i>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-dark" *ngIf="!layers">No Layers Yet</div>
        </div>
    </div>
    <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
        <button class="btn btn-outline-light" id="dropdownBasic3" ngbDropdownToggle>Advanced</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic3"
            style="overflow:auto; max-height: 600px; color:#eee; width:300px; padding: 10px 10px 10px 10px"
            class="bg-dark">
            <app-git-manage [gitImage]="gitImage" [imageName]="imageName" (getImage)="base64ToGit()"></app-git-manage>
            <h5>Revert From History</h5>
            <div *ngFor="let item of localStorage">
                <span (click)="revertFromLocalStorage(item[1])">{{item[0]}}</span>
            </div>
            <br>
            <h5>Experimental:</h5>
            <p>Warning! These features are experimental and contain bugs. Do not activate these any of these features
                when editing a mask you are not prepared to lose.<br>Report any bugs in <a target="_blank"
                    href="https://github.com/erikbernheim/img-labeler/issues">Issues</a></p>
            <br>
            <h6>Load Existing Mask</h6>
            <p>This will load an editable version of the mask associated with this image in the comma10k master repo.
                CPU intensive.</p>
            <button type="button" class="btn btn-outline-primary" (click)="createLayers()">Load Existing Mask</button>
            <br><br>
            <h6>Show Existing Mask</h6>
            <p>This will load a non-editable version of the mask associated with this image in the comma10k master repo.
            </p>
            <button type="button" class="btn btn-outline-primary" (click)="addMask()">Show Existing Mask</button>
            <br><a (click)="loadMaskFromURL()"><small class="ml-1" style="color:#007bff">From URL</small></a>
        </div>
    </div>
    <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
        <button class="btn btn-outline-light" id="dropdownBasic4" ngbDropdownToggle>Help</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic4"
            style="overflow:auto; max-height: 600px; color:#eee; width:300px; padding: 10px 10px 10px 10px"
            class="bg-dark">
            <h5>Controls</h5>
            Scroll: Zoom<br>
            Left Click: Place Point<br>
            Right Click: Pan<br>
            Ctrl+Z Undo<br>
            Change Color: R, L, U, M, C<br>
            Arrange layers with the To Top button in the Layers Panel.<br>
            <br><br>
            <h5>How to use</h5>
            This is how I personally use this tool the quickest. First, I label all the movables and lane markings.
            Next, I label the road, and move it to the bottom with the layer palette. Then I add a box of undrivable
            over the entire image and move it to the bottom. Finally, I add the car section over the hood


        </div>
    </div>
    <button type="button" class="btn btn-outline-light" (click)="save()">Save</button>
    <button type="button" class="btn btn-outline-danger" (click)="reset()">Reset</button>



</nav>
<div class="container-fluid mb-4" style="position: absolute; top: 75px; bottom: 0; left: 0; right: 0;">
    <pan-zoom [config]="panzoomConfig">
        <div class="artboard" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" #artboard>
        </div>
    </pan-zoom>
</div>