<div class="ml-2 mt-1 mb-1 mr-2">
    <div class="input-group mb-2" style="width:500px">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Image URL</span>
        </div>
        <input type="text" class="form-control"
            (input)="updateImage()"
            #url aria-describedby="basic-addon1">
    </div>

    <div class="input-group" style="width:300px">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Image Number</span>
        </div>
        <input type="text" class="form-control" maxlength="7" #imageNumber aria-describedby="basic-addon1">
        <div class="btn btn-outline-primary ml-1" (click)="updateImageByNum()">Go</div>
    </div>
    <button type="button" class="btn btn-outline-primary mt-2" (click)="showMask()">Show Existing Mask</button>
    <br><a (click)="fromUrl()"><small>From URL</small></a>
</div>