<h5>Revert From History</h5>
<table class="table table-striped table-dark table-sm" *ngIf="previousMasks">
    <tbody>
        <tr *ngFor="let mask of previousMasks">
            <td>
                {{mask.id}}
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm ml-1" (click)="revert(mask.data)">Revert</button>
                <button class="btn btn-outline-danger btn-sm ml-1" (click)="delete(mask.key)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<h6>Save To History <button class="btn btn-outline-primary btn-sm ml-1" (click)="save()">Save</button></h6>