<div class="ml-2 mr-2">
    <div class="row" style="max-width: 100%">
        <div class="col">
            <div class="input-group mt-1 mb-2" style="width:250px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Mask Opacity</span>
                </div>
                <input type="number" class="form-control" min="0" max="100" value='100' (input)="updateOpacity()" #opacity
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col" style="text-align:right"> <button type="button" (click)="deleteAll()" class="btn btn-outline-danger">Clear
                All Layers</button>
        </div>

    </div>

    <table class="table table-striped table-dark" *ngIf="layers">
        <thead>
            <tr>
                <th scope="col">Layer</th>
                <th scope="col">Type</th>
                <th scope="col">To Top</th>
                <th scope="col">To Bottom</th>
                <th scope="col">Hide&nbsp;/ Show</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let layer of layers">
                <th>{{layer.index}}</th>
                <th>{{getLayerType(layer.type)}}</th>
                <th><i class="fa fa-arrow-up" (click)="toTop(layer.index)" aria-hidden="true"></i></th>
                <th><i class="fa fa-arrow-down" (click)="toBottom(layer.index)" aria-hidden="true"></i></th>
                <th><i (click)="toggle(layer.index)" *ngIf="layer.visibility" class="fa fa-eye"
                        aria-hidden="true"></i><i (click)="toggle(layer.index)" *ngIf="!layer.visibility"
                        class="fa fa-eye-slash" aria-hidden="true"></i></th>
                <th><i class="fa fa-close" (click)="delete(layer.index)" aria-hidden="true"></i>
                </th>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-dark" *ngIf="!layers">No Layers Yet</div>
</div>